/* uso de variaveis */
:root {
    --bg-button: #f0f0f0;
    --border-button: #8b8b8b;
}

.button {
    background-color: var(--bg-button);
    border: none;
    border-right: solid 1px var(--border-button);
    border-bottom: solid 1px var(--border-button);
    font-size: 1.2em;
    outline: none;
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column-end: span 2;
}

.button.triple {
    grid-column-end: span 3;
}

.button.operation {
    background-color: #dd8c2f;
    color: #fff;
}

.button.operation:active {
    background-color: #885419;
}
